/* Anita Khuu  */

@charset "utf-8";
/* CSS Document */

body {
    font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}

/* Links */
a {
    colour: #f1f1f1;
	text-decoration: none;
}

a:visited {
    colour: #f1f1f1;
	text-decoration: none;
}

a:hover {
    color: #999;
}

a.validate:hover{
	color: #999;
	font-weight:bold;
}

/* End of links */

header {
	padding: 10px;
	border-top:8px solid #fff;
	border-bottom:8px solid #fff;
	color: #eee;
	text-align: center;
	font: bold 25px small-caps;
	font-family: Verdana, Geneva, sans-serif;
}

footer {
	position:absolute;
	margin-right: 10px;
	margin-bottom:10px;
	bottom:0;
	right:0;
	background-color:#f1f1f1;
	padding: 10px;
	font-variant: small-caps;
	font-size: 10px;
	border-radius: 5px;
	opacity: 0.75;
}
h1 {
	padding: 20px;
	color: #fff;
	text-align:center;
	font-size: 20px;
	text-transform: uppercase;
}

h2 {
	margin-left: 250px;
    color: #fff;
    text-align: center;
	font-variant: small-caps;
	text-shadow: 1px 1px #000;
}

section h3 {
	padding: 5px;
	margin-left:290px;
	margin-bottom: -10px;
	margin-top: 10px;
	padding-left: 5px;
	padding-bottom: -10px;
    color: #333;
    text-align: left;
	font: bold 16px small-caps "Times New Roman", Times, serif;
	border: 2px double white;
	background-color:white;
	z-index: 0;
	display:inline-block;
}

p {
	margin-top: 5px;
	margin-left: 270px;
	margin-bottom: 20px;
	padding: 10px;
	width: 600px;
	background-color: #eee;
	border-radius: 5px;
	line-height:20px;
	opacity: 0.8;
	z-index:-1;
}

/* Table */
table {
	border-radius: 5px;
	background-color: #ddd;
	opacity: 0.8;
	margin-top: 5px;
	margin-bottom:15px;
	margin-left: 270px;
}

table tr {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
table th {
    background: #ddd;
    text-transform: uppercase;
    text-align: center;
    border: 1px #003d7d;
	border-radius: 5px;
} 

table td {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
} 

table tr:hover td {
    background-color: #fff;
	border-radius: 5px;
	border-spacing:0px;
	opacity: 1;
}

/* End of table */

/* Figure */

figure {
	
	font-style:italic;
	font-size: 10px;
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 270px;
}

img {
	border: 1px solid #999;
	padding: 1px;
}
/* End of figure */

main {
	width: 100%;
}

/* Side nav */

*{
	margin: 0;
	padding: 0;
}
  
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-image:url(../images/background.jpg);
}

.menu {
  position: absolute;
  top: 100px;
  left: 0;
  background: #fff;
  width: 200px;
  border-radius: 5px;
  transform: translate3d(-200px, 0, 0);
  transition: transform 0.1s;
}
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  list-style: none;
  background: #fff url(../images/hamburger.png) 50% 50%/25px 25px no-repeat;
}

.menu ul li, .menu ul li a, .menu ul li label {
  display: block;
  text-align: left;
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  list-style: none;
  font-size:12px;
}

.menu ul li a:hover, .menu ul li label:hover {
	background-color: #CCC;
	border-radius: 5px;
	border-spacing:0px;
  color: #666;
  list-style: none;
}

.menu-checkbox {
  display: none;
}

.menu .menu label.menu-toggle {
  background: none;
}

.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

/* End of side nav */