
body {
    height: 100%;
    font-family: "Comic Sans MS", sans-serif ;
}
h1 {
    font-family: "American Typewriter","monospace", sans-serif;
    font-weight: bold;
    color: #555555;
}
.city h3{
    font-family: fantasy;
    font-weight: bolder;
    color: palevioletred;
}
p{
    font-family: "American Typewriter", "monospace", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #555555;
}
figure img {
    text-align: left;
    width: 300px;
    height: 150px;
    margin-left: 0;
}
figure figcaption {
    text-align: left;
}
figcaption{
    text-align: left;
}
iframe {
    text-align: left;
    float: left;
    margin: 5px;
    width: 300px;
    height: 150px;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    background: #c6fbee;
    border-radius: 6px;
    *zoom: 1;
    clear: both;
}
.group,
header,
section,
aside,
footer {
    margin: 0;
}
.box {
    padding: 2px;
    margin: 1px;
}
.nav {
    grid-area: nav;
    background-color: #b7f5de;
}
.group {
    grid-area: group;
    background-color: #add1fc;
}

aside{

}
.header {
    grid-area: header;
    background-color: #dffcb5;
}
.footer {
    grid-area: footer;
    background-color: #9870fc;
    text-align: center;
}
section {
    float: left;
    width: 80%;
    background-color: #add1fc;
}
aside {
    float: right;
    display: list-item;
    background-color: #c6fbee;
    text-align: left;
    width: 20%;
}
.city{
    font-family: fantasy;

}
p {
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #e67fa7;
}

a:hover {
    color: #3f827f;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #f1f1f1;
    overflow: hidden;
    top: auto;

}
nav li {
    padding: 5px;
    margin: 2px;
    background-color: #d1d8e8;
    color: #5c5d67;
    float: left;
    display: inline-block;

}

nav li:hover {
    background-color: #c6fbee;
    color: #3a4f46;
}

aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
aside li {
    padding: 2px;
    margin: 2px;
    background-color: #ccfffc;
    color: #888888;
    float: right;
    display: list-item;
}

aside li:hover {
    background-color: #c3c9d7;
    color: #3f827f;
}

ol{
    margin-left: 0;
    padding-left: 1em;
}



