/*--CARSON BAIN'S NEW CSS FOR KATELYN TRUONG'S HOMEWORK #2. HOMEWORK #3 OCTOBER 5th COMP1950--*/
@import url('https://fonts.googleapis.com/css?family=Karla|Roboto');

html {
    background-color: #efefef;
}
body {
    font-family: "Roboto", sans-serif ;
    margin: 4%;
}
h1, h3, h2, h4 {
    font-family: "Karla", sans-serif;
}
p, h3, h1, h2, a, mark, figcaption, li, ol, h4 {
  color: #002d69;
}
a {
    text-decoration: none;
}
/*--STICKY NAV--*/
header.box.header {
    position: fixed;
    top: 22px;
}
nav {
    width: 300px;
    position: fixed;
    top: 80px;
}
nav ul {
  text-align: center;
}
ul {
    list-style: none;
    padding-left: 0;
}
nav li {
    margin: 8% 0;
}
nav li:first-of-type {
    margin-top: 15%;
}
h1 {
    width: 330px;
}
h1 a, h2 {
    background-color: #002d69;
    color: #efefef;
    padding: 2%;
}
nav a {
    text-decoration: none;
    font-weight: bold;
}
nav a:visited {
    color: #002d69;
}
nav a:hover {
    color:  #f2b632;
    text-decoration: underline;
}

/*--MAIN--*/
.box.group {
    margin-left: 330px;
    border-left: 2px solid #002d69;
    padding-left: 3%;
}
.box.group h2 {
  text-align: center;
}
.box.group h2 {
  width: 300px;
  margin: 7% auto;
}
section > h2 {
    display: none;
}
h3 {
  text-decoration: underline;
  margin-bottom: 5%;
}
h3 ~ p {
    font-size: 0.9em;
}
h2 {
    font-size: 1.8em;
}
figure {
    margin: 0;

}
figcaption {
    font-style: italic;
}
mark {
  background-color: transparent;
  font-size: 1.5em;
}
iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
/*--ASIDE--*/
aside {
  float: right;
  margin-top: 2%;
}
aside ul {
    background-color: #002d69;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
aside a {
    color: #efefef;
}
aside a[href*=".html"]:hover {
    color:  #f2b632;
    text-decoration: underline;
}
a[href="#"] {
  opacity: 0.5;
}
aside li {
    padding: 2% 1%;
    display: inline-block;
}
/*--FOOTER--*/
footer {
  margin-top: 3%;
  font-size: 13px;
}
