body{
    height: 100vh;
    display: grid;
    font-family: "American Typewriter", "monospace", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 0.25fr auto 0.25fr;
    grid-gap: 0 0;
    align-items: stretch;
    align-content: stretch;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer footer";
}
.header{
    grid-area: header;
    background-color: #F46060;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.nav{
    grid-area: nav;
    background-color: #F3D179;
    color: #3f827f;
    z-index: 2;
    position: relative;
}
.main{
    grid-area: main;
    background-color: #DCE8BA;
    color: #3b3d55;
    align-content: stretch;
    grid-gap: 0;
    grid-template-rows: 1fr 1fr;
}
.item-1{
    grid-area: item-1;
    background-color: #c6fbee;

}
.item-1>h3{
    opacity: 0.7;
    background-color: hsla(225, 97%, 54%, 0.5);
    color: #b33877;
}
.item-2{
    grid-area: item-2;
    background-color: #c6fbee;

}
.item-2>h3{
    opacity: 0.7;
    background-color: hsla(225, 97%, 54%, 0.5);
    color: #b33877;
}
.aside{
    grid-area: aside;
    background-color: #FFA8B8;
    color: #2d5189;
    align-content: stretch;
    align-self: flex-start;
    word-wrap: break-word;
    height: 100%;
}
aside > h3{
    text-align: center;
    background-color: hsla(165, 87%, 88%, 0.5);
}
aside li{
    padding-bottom: 5px;
}
aside ul li a{
    color: #366d6a;
}

aside ul li a:hover{
    opacity: 0.7;
    background-color: hsla(165, 87%, 88%, 0.5);
}
.footer{
    grid-area: footer;
    background-color: #D988BC;
    color: whitesmoke;
    align-content: stretch;
    text-align: center;
    padding-top: 20px;
}
footer a{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
aside ul,nav ul{
    list-style: none;

}

.nav li{
    display: inline-flex;
    float: left;
    border-right: #f9c810 solid 1px;
    padding: 5px;
    margin:  0;
}
.nav ul li a{
    color: #366d6a;
}
.nav ul li a:hover{
    background-color: #f9a5db;
    padding: 2px;
}
.nav li ul{
    position: absolute;
    display: none;
    width: inherit;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    display: list-item;
    margin-top:20px;
    background-color: #c6fbee;
}
.item-2 a {
    color: #F46060;
    font-weight: bolder;
    font-family: fantasy ;
}
.item-2 a:hover{
    background-color: hsla(0, 0%, 95%, 0.5);
}
th, td {
    border-bottom: 1px dashed #c9a308;
}
tr:last-child td {
    border-bottom: none;
}
